/*주영이가 한거*/
.build_inner_btn{
  /* background-color: #ffffff;
  border: 2px solid #3f51b5;
  border-radius: 5px;
   */
  white-space: pre-line;
  width: 50px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.594);
  border: none;
  font-weight: 900;
  color: grey;
  cursor: pointer;
  border-radius: 5px;
}

.fa-rotate-45{
  transform: rotate(45deg)
}

.build_inner_btn:hover{
  color: rgb(0, 38, 206);
  text-decoration: underline;
}

/*영현 테스트*/

/**/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Nanum Gothic", "맑은 고딕", Dotum, "돋움", Helvetica, sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

.testbtn{
  width: 500px;
}

/*home*/
.home{
  min-height: 900px;
  opacity: 1;
  z-index: 1;
  background-color: rgb(2, 32, 79);;
}


/*헤더*/
header{
  display: flex;
  padding: 1em 10em;
  color: darkblue;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
}


/*LogoBox*/
.deu_logo{
  height: 60px;
  width: 185px;
  margin-right: 30px;
  cursor: pointer;
}
.logobox{
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub_logo_box{
  width: 650px;
  margin: 1em 0;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}
.mini_logo{
  width: 300px;
}
.mini_door{
}
.mini_dap{
  width: 400px;
}
.mini_guideu{
  width: 370px;
}
.go_btn{
  font-size: 16px;
  font-weight: 900;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  border: none;
  background: #3f51b5;
  color: white;
  cursor: pointer;
}



/*LoadMap*/
.main_img_box{
  position: relative;
  background-image: url(../public/images/deu_map.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 900px;
}

.main_img_box img{
  width: 100%;
  z-index: 0.1;
}
.building{
  padding: 1px;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: blue;
  border-radius: 2em;
  z-index: 1;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  font-size: 11px;
  font-weight: 900;
}
.build_name{
  display: none;
}
.building:hover .build_num{
  display: none;
}
.building:hover .build_name{
  display: block;
}
.building:hover{
  width: 80px;
}
.area{
  padding: 1px;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 2em;
  z-index: 1;
  cursor: pointer;
  outline: none;
  border: 2px solid blue;
  font-size: 11px;
  font-weight: 900;
  color: blue;
}
.area_name{
  display: none;
}
.area:hover .area_num{
  display: none;
}
.area:hover .area_name{
  display: block;
}
.area:hover{
  width: 72px;
}
.check_point{
  padding: 1px;
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: red;
  border-radius: 2em;
  z-index: 1;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 11px;
  font-weight: 900;
}
.check_point:hover{
  transform: scale(1.5);
}

.num1{
  top: 10%;
  right: 15%;
}
.num2{
  top: 8%;
  right: 23%;
}
.num3{
  top: 12%;
  right: 8%;
}
.num5{
  top: 18%;
  right: 4%;
}
.num6{
  top: 13%;
  right: 24%;
}
.num7{
  top: 18%;
  right: 24%;
}
.num8{
  top: 24%;
  right: 29%;
}
.num9{
  top: 15%;
  right: 35%;
}
.num10{
  top: 18%;
  right: 40%;
}
.num11{
  top: 22%;
  right: 49%;
}
.num12{
  top: 25%;
  right: 36%;
}
.num13{
  top: 35%;
  right: 20%;
}
.num14{
  top: 35%;
  right: 8%;
}
.num15{
  top: 45%;
  right: 21%;
}
.num16{
  top: 58%;
  right: 23%;
}
.num17{
  top: 73%;
  right: 31%;
}
.num18{
  top: 45%;
  right: 48%;
}
.num19{
  top: 58%;
  right: 48%;
}
.num20{
  top: 58%;
  right: 62%;
}
.num21{
  top: 74%;
  right: 70%;
}
.num22{
  top: 45%;
  right: 66%;
}
.num23{
  top: 68%;
  right: 85%;
}
.num24{
  top: 11%;
  right: 84%;
}
.num25{
  top: 11%;
  right: 58%;
}
.num26{
  top: 23%;
  right: 19%;
}
.numA{
  top: 5%;
  right:14%;
}
.numB{
  top: 16%;
  right:69%;
}
.numC{
  top: 17%;
  right:14%;
}
.numD{
  top: 20%;
  right:16%;
}
.numE{
  top: 19%;
  right:29%;
}
.numF{
  top: 33%;
  right:11%;
}
.numG{
  top: 17%;
  right:78%;
}
.numH{
  top: 93%;
  right:41%;
}
.numI{
  top: 96%;
  right:43%;
}
#check1{
  top: 65%;
  right: 36%;
}
#check2{
  top: 31%;
  right: 24%;
}
#check3{
  top: 14%;
  right: 18%;
}

.build_into{
  white-space: pre-line;
  width: 100px;
  height:40px;
  background-color: rgba(255, 255, 255, 0.594);
  border: none;
  font-weight: 900;
  color: rgb(50, 15, 227);
  cursor: pointer;
  border-radius: 5px;
}
.build_into:hover{
  background-color: rgba(255, 255, 255, 0.849);
  color: #2437a0;
}

/*CampusDetail*/
.c_info{
  margin: 10px 0 10px 60px;
  padding: 30px 120px;
}
.c_info h2{
  margin-bottom: 20px;
}
.c_line{
  display: inline-block;
  width: 220px;
}
.c_detail{
  display: flex;
  margin-bottom: 12px;
}
.c_num_box{
  width: 30px;
  height: 22px;
  background-color: #3f51b5;
  text-align: center;
  color: white;
  margin-right: 1px;
  border-radius: 3px;
}

/*Building*/
.build_wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.build_main{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px 0;
  
}
.build_info_left{
  flex-basis: 70%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
.build_info_left img{
  width: 100%;
}
.build_info_right{
  flex-basis: 30%;
  word-break: break-all;
}
.build_info_right h1{
  margin-bottom: 5px;
}

/*BuildImg*/
.return_page{
  margin: 5px;
  width: 85px;
  height: 35px;
  font-size: 15px;
  background-color: rgb(229, 46, 9);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
.return_page:hover{
  background-color: rgb(255, 42, 0);
}

.build_inner_wrap{
  position: relative;
}
.build_inner_btn{
  cursor: pointer;
  position: absolute;
}


.up_btn{
  top: 5%;
  left: 50%;
}
.left_btn{
  top: 50%;
  left: 5%;
}
.right_btn{
  top:50%;
  right: 5%;
}
.down_btn{
  bottom: 5%;
  left: 50%;
}
.cross_btn{
  top: 45%;
  left: 25%;
}
.front_btn{
  left: 50%;
  top:40%;
}
.back_btn{
  left: 50%;
  bottom: 25%;
}

.roomNumber{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 30px;
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: #0073df;
  color: white;
}

/*BuildDetail*/
.floor{
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
}

.floor_info{
  font-size: 15px;
}

/*footer*/
footer {
  height: 5%;
  width: 100%;
  font-size: 13px;
  box-sizing: border-box;
  background-color: #525b69;
  color: #b8bdc6;
  padding: 15px 0 25px;
  text-align: center;
}